        font-size: 1.5rem;
    }

    .tb-text{
        position: static;
        
    }

    .feature-img{
        width: 65%;
    }
}



/* .social-text{
    color: white;
    font-family: 'Cinzel';
} */

/*
.news-headline{
    /* background-color: #4982b8;
    color: white;
    text-align: center;
    padding: 5%;
    
}

.middle-heading{
    padding: 2% 15%;
}

.social-text{
    color: white;
    font-family: 'Cinzel';
} 

*/
